{% extends 'pattern-page.twig' %}

{% block title %}
    шаблон Декоратор
{% endblock %}

{% block body %}
    {% if pizza %}
        <h3>Ваш заказ:</h3>
        <p>{{ pizza.description }}</p>
        <p>Цена: {{ pizza.cost }}</p>
        <p><a href="{{ path('decorator') }}">Заказать другую пиццу</a></p>
    {% else %}
        <h3>Сделайте заказ:</h3>
        <p>
            <a href="{{ path('decorator', {'type': constant('FAT_BECON', pizzaType)}) }}">
                Толстая с беконом
            </a>
        </p>
        <p>
            <a href="{{ path('decorator', {'type':constant('FAT_CHEESE', pizzaType)}) }}">
                Толстая с сыром
            </a>
        </p>
        <p>
            <a href="{{ path('decorator', {'type':constant('SLIM_BECON', pizzaType)}) }}">
                Тонкая с беконом
            </a>
        </p>
        <p>
            <a href="{{ path('decorator', {'type':constant('SLIM_CHEESE', pizzaType)}) }}">
                Тонкая с сыром
            </a>
        </p>
        <p>
            <a href="{{ path('decorator', {'type':constant('DOUBLE_BECON_FAT', pizzaType)}) }}">
                Толстая с двойным беконом
            </a>
        </p>
        <p>
            <a href="{{ path('decorator', {'type':constant('DOUBLE_CHEESE_FAT', pizzaType)}) }}">
                Толстая с двойным сыром
            </a>
        </p>
        <p>
            <a href="{{ path('decorator', {'type':constant('DOUBLE_BECON_SLIM', pizzaType)}) }}">
                Тонкая с двойным беконом
            </a>
        </p>
        <p>
            <a href="{{ path('decorator', {'type':constant('DOUBLE_CHEESE_SLIM', pizzaType)}) }}">
                Тонкая с двойным сыром
            </a>
        </p>
    {% endif %}
{% endblock %}